#parent {
  background-color: yellow;
  margin: 0 auto;
  max-width: 300px;
}

#container-picture-parent {
  position:relative;
}

#container-picture {
  position:relative;
  left: 0;
  top: 0;
}

.btn-next{
  background-color: white;
  left: 60%;
  bottom: 15%;
  position: absolute;
}

#button-close {
  color: white;
  top: 4%;
  left: 5%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  font-size: 20px;
  line-height: 22px;
  width:25px;
  height:25px;
  border: solid 1px;
  border-radius: 4px;
}
